@charset'utf-8';
* {
    margin: 0;
    padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
body {
    background-color: #F0F0F0;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: relative;
}
.fix {
    clear: both;
}
i {
    margin: 0 4px;
}
input,
select {
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #444;
    font-size: 18px;
    font-weight: 300;
    height: 30px;
    margin: 8px 0px;
    outline: none;
    padding: 0 4px;
    -webkit-transition: border 300ms linear, box-shadow 300ms linear;
    -moz-transition: border 300ms linear, box-shadow 300ms linear;
    -o-transition: border 300ms linear, box-shadow 300ms linear;
    -ms-transition: border 300ms linear, box-shadow 300ms linear;
    transition: border 300ms linear, box-shadow 300ms linear;
}
input {
    width: 240px;
}
input:focus,
select:focus {
    border: 1px solid #2980B9;
    box-shadow: 0 0 4px 0 #2980B9;
    -webkit-transition: border 300ms linear, box-shadow 300ms linear;
    -moz-transition: border 300ms linear, box-shadow 300ms linear;
    -o-transition: border 300ms linear, box-shadow 300ms linear;
    -ms-transition: border 300ms linear, box-shadow 300ms linear;
    transition: border 300ms linear, box-shadow 300ms linear;
}
.factura {
    font-size: 1.2em;
    width: 100%;
}
input:-webkit-autofill {
    /*Evita el color de fondo amarillo en google Chrome para los campos autocompletados*/
    
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input[type="checkbox"] {
    height: 15px;
    outline: none;
    width: 15px;
}
input[type="checkbox"]:focus {
    box-shadow: none;
}
input[type="file"] {
    border: none;
    height: 40px;
    outline: none;
    overflow: hidden;
}
input[type="file"]:focus {
    box-shadow: none;
    outline: none;
}
input[type="file"]::before {
    content: 'Selecciona una imagen';
    background-color: #348CC4;
    border: none;
    border-radius: 4px;
    color: rgba(255, 255, 255, .7);
    display: inline-block;
    padding: 8px 8px;
    outline: none;
}
input[type="file"]:focus::before,
input[type="file"]:hover::before {
    background-color: #2980B9;
    color: rgba(255, 255, 255, 1);
    outline: none;
}
input[type="file"]:hover::before {
    cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button {
    display: none;
}
input[type="radio"] {
    height: 15px;
    width: 15px;
}
input[readonly="readonly"] {
    color: #666;
}
input[type="submit"] {
    background-color: #348CC4;
    border: none;
    color: rgba(255, 255, 255, .7);
    height: 40px;
    margin: 0 32%;
    margin-top: 15px;
    width: 200px;
}
input[type="submit"]:focus {
    background-color: #2980B9;
    box-shadow: none;
    color: rgba(255, 255, 255, 1);
}
input[type="submit"]:hover {
    background-color: #2980B9;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}
.menu-bar {
    background-color: #2980B9;
    height: 80px;
    min-width: 370px;
    width: 100%;
}
.menu-bar .contenido {
    padding: 0 0 8px 8px;
}
.menu-bar .contenido .logo {
    padding-top: 2px !important;
}
.menu-bar .contenido .min-logo {
    display: none;
    padding-top: 9px !important;
}
.menu-bar .contenido .logo,
.menu-bar .contenido .min-logo {
    float: left;
    margin: 0 5px;
    padding: 0;
}
.menu-bar .menu-usuario {
    float: right;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
.menu-bar .menu-usuario a {
    padding: 15px 6px;
}
.menu-bar .menu-usuario .arrow {
    font-size: 0.7em;
}
.menu-bar .menu-usuario.left,
.menu-bar .menu-usuario.left #no-name {
    display: none;
}
.menu-bar .menu-usuario .opciones-usuario {
    background-color: #FFF;
    border-bottom: 2px solid #2980B9;
    border-left: 2px solid #2980B9;
    border-right: 2px solid #2980B9;
    display: none;
    font-size: 0.9em;
    position: absolute;
    right: 0;
    top: 80px;
}
.menu-bar .menu-usuario .opciones-usuario a {
    display: block;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.menu-bar .menu-usuario .opciones-usuario a:hover {
    background-color: #ECECEC;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.menu-bar .menu-usuario .usuario {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    padding-bottom: 25px;
    padding-top: 12px;
    text-align: center;
    text-overflow: ellipsis;
    width: 330px;
    white-space: nowrap;
    -webkit-transition: text-shadow 300ms linear;
    -moz-transition: text-shadow 300ms linear;
    -o-transition: text-shadow 300ms linear;
    -ms-transition: text-shadow 300ms linear;
}
.menu-bar .menu-usuario .usuario:hover {
    -webkit-transition: text-shadow 300ms linear;
    -moz-transition: text-shadow 300ms linear;
    -o-transition: text-shadow 300ms linear;
    -ms-transition: text-shadow 300ms linear;
}
.menu-bar .navegacion {
    float: left;
    font-size: 2em;
    margin-left: 15%;
}
.menu-bar .navegacion li {
    display: inline-block;
    padding: 12px 0;
}
.menu-bar .menu-usuario a,
.menu-bar .navegacion a {
    color: #444;
    outline: none;
    text-decoration: none;
}
.menu-bar .navegacion a {
    padding: 25px 6px;
    -webkit-transition: text-shadow 300ms linear;
    -moz-transition: text-shadow 300ms linear;
    -o-transition: text-shadow 300ms linear;
    -ms-transition: text-shadow 300ms linear;
}
.menu-bar .navegacion a:hover {
    -webkit-transition: text-shadow 300ms linear;
    -moz-transition: text-shadow 300ms linear;
    -o-transition: text-shadow 300ms linear;
    -ms-transition: text-shadow 300ms linear;
    text-shadow: 1px 1px 8px #444;
}
.menu-bar .navegacion .min-bar {
    display: none;
}
.menu-bar .navegacion .min-menu {
    background-color: #FFF;
    display: none;
    left: 0px;
    opacity: 0.85;
    position: absolute;
    text-align: center;
    top: 80px;
    width: 100%;
}
.menu-bar .navegacion .min-menu a {
    display: inline-block;
    padding: 12px 0;
    text-shadow: none;
    width: 100%;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.menu-bar .navegacion .min-menu a:hover {
    background-color: #ECECEC;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.menu-bar .navegacion .min-menu li {
    border-bottom: 1px solid #444;
    padding: 0;
    width: 100%;
}
nav ul {
    list-style: none;
}
.pagina {
    background-color: #FFF;
    border-radius: 10px;
    display: table;
    margin: 30px auto;
    padding: 15px 80px;
}
.pagina .titulo {
    font-size: 2em;
    font-weight: 500;
    padding: 20px 0 15px;
    text-align: center;
}
.pagina .titulo small {
    color: #777;
    font-size: 16px;
    font-weight: 400;
}
.principal span i,
.principal .formulario .clickable {
    margin: 0;
    padding: 0 4px;
}
.principal span:hover {
    color: #2980B9;
    cursor: pointer;
}
.principal .busqueda .borrar-varios {
    cursor: pointer;
    vertical-align: 2px;
}
.principal .busqueda .borrar-varios:hover {
    color: #2980B9;
}
.principal .busqueda .borrar-varios i {
    font-size: 24px;
}
.principal .busqueda .buscar-instantaneo {
    margin-left: 30%;
}
.principal .busqueda .resultados,
.principal .formulario .productos,
.productos {
    border-collapse: collapse;
    width: 100%;
}
.principal .busqueda .resultados tr {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.principal .busqueda .resultados tr:hover {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.principal .busqueda .resultados th,
.principal .formulario .productos th,
.productos th {
    background-color: #2980B9;
    border: 0;
    border-right: 1px solid #FFF;
    color: #FFF;
    cursor: default;
    font-size: 22px;
    font-weight: normal;
    padding: 0 8px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.principal .busqueda .resultados th:first-child,
.principal .busqueda .resultados th:last-child {
    border-right: 0;
}
.principal .busqueda .resultados td {
    border: 0;
    border-bottom: 1px solid #2980B9;
    border-right: 1px solid #2980B9;
    font-size: 18px;
    padding: 0 8px;
    text-align: center;
}
.principal .busqueda .resultados td:first-child,
.principal .busqueda .resultados td:last-child {
    border-right: 0;
}
.principal .busqueda .resultados .columna-iconos,
.principal .formulario .productos .columna-iconos {
    background-color: #FFF;
    border: 0;
    text-align: center;
}
.principal .busqueda .resultados .columna-iconos .editar {
    padding: 0 15px;
}
.principal .busqueda .resultados .icon,
.principal .formulario .productos .icon {
    cursor: pointer;
}
.principal .busqueda .resultados .icon:hover,
.principal .formulario .productos .icon:hover {
    color: #2980B9;
}
.principal .busqueda .resultados .rowActive {
    background-color: rgba(18, 182, 235, 0.2);
}
.principal .enlace-registro {
    color: #444;
    text-decoration: none;
}
.principal .enlace-registro:hover {
    color: #2980B9;
}
.principal .formulario {
    font-size: 20px;
    font-weight: 400;
    margin: 10px auto 0;
    padding-bottom: 28px;
}
.principal .formulario table {
    margin: 0 auto;
}
.principal .formulario table h2 {
    font-size: 1.2em;
    font-weight: 400;
}
.principal .formulario table td {
    padding: 0 15px;
}
.principal .formulario .ayuda,
.principal .formulario .search,
.principal .formulario #search-clients {
    color: #2ECC71;
    font-size: 20px;
}
.principal .formulario .ayuda:hover,
.principal .formulario .search:hover,
.principal .formulario #search-clients:hover {
    color: #27AE60;
    cursor: pointer;
}
.principal .formulario .clickable:hover {
    color: #2980B9;
    cursor: pointer;
}
.principal .formulario .direccion,
.principal .formulario .nombre,
.principal .formulario .email {
    width: 100%;
}
.principal .formulario .preview-img {
    display: none;
    max-height: 1080px;
    max-width: 800px;
}
.principal .formulario .print:hover {
    color: #2980B9;
    cursor: pointer;
}
.principal .formulario .productos .last-row {
    border-bottom: 0;
}
.principal .formulario .productos input {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 95%;
}
.principal .formulario .productos input:focus {
    box-shadow: none;
}
.principal .formulario .productos th:first-child,
.principal .formulario .productos td:first-child {
    border-left: 0;
}
.principal .formulario .productos th:last-child {
    border: 0;
}
.principal .formulario .productos td,
.productos td {
    border: 0;
    border-bottom: 1px solid #2980B9;
    border-left: 1px solid #2980B9;
    font-size: 18px;
    padding: 0 8px;
    text-align: center;
}
.principal .formulario .productos .product-input {
    width: 80%;
}
.principal .formulario .productos .total,
.productos .total {
    background-color: #2980B9;
    border: 0;
    color: #FFF;
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
}
.principal .formulario .tlf {
    width: 45px;
}
.principal .formulario .tlf_habitacion {
    width: 80px;
}
.principal .icono-buscar {
    background-color: #2980B9;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: rgba(255, 255, 255, .7);
    margin-left: 0;
    padding: 8px;
}
.principal .icono-buscar:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}
.principal .input-buscar {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: 28%;
    margin-right: 0;
    width: 40%;
}
.principal .input-buscar:focus {
    border-right: 0;
}
.principal #registro-usuario,
.principal #registro-cliente,
.principal #registro-producto {
    border-bottom: 1px solid #CCC;
    display: none;
}
.principal .texto-checkbox {
    vertical-align: 2px;
}
.status {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
.tooltipster-theme {
    background-color: #444;
    border-bottom: 3px solid #27AE60;
    border-right: 3px solid #27AE60;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    color: #FFF;
}
.tooltipster-theme .tooltipster-content {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}
@media only screen and (max-width: 1687px) {
    .menu-bar .navegacion {
        margin-left: 5px;
    }
}
@media only screen and (max-width: 1443px) {
    .menu-bar .menu-usuario,
    .menu-bar .navegacion {
        font-size: 1.7em;
    }
    .menu-bar .menu-usuario .usuario {
        padding-top: 18px;
        width: 200px;
    }
    .menu-bar .navegacion li {
        display: inline-block;
        padding: 18px 0;
    }
}
@media only screen and (max-width: 1207px) {
    .menu-bar .menu-usuario {
        display: none;
    }
    .menu-bar .menu-usuario.left {
        display: initial;
    }
    .menu-bar .menu-usuario .opciones-usuario {
        font-size: 1em;
    }
    .menu-bar .navegacion {
        float: right;
    }
    .menu-bar .navegacion .completo {
        display: none;
    }
    .menu-bar .navegacion .min-bar {
        display: initial;
    }
}
@media only screen and (max-width: 620px) {
    .menu-bar .contenido .logo {
        display: none;
    }
    .menu-bar .contenido .min-logo {
        display: initial;
        margin: 0 1px;
    }
    .menu-bar .menu-usuario .usuario {
        width: 150px;
    }
    .menu-bar .menu-usuario .usuario i {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .menu-bar .navegacion .min-bar a,
    .menu-bar .navegacion .min-bar i {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 478px) {
    .menu-bar .menu-usuario .usuario {
        width: 118px;
    }
}
@media only screen and (max-width: 446px) {
    .menu-bar .menu-usuario.left #no-name {
        display: inline-block;
        width: auto;
    }
    .menu-bar .menu-usuario.left .usuario {
        display: none;
    }
}
