@charset'utf-8';
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.boton {
    background-color: #26C1D0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.7);
    color: #FFF;
    display: inline-block;
    float: right;
    font-size: 1em;
    margin: 15px 30% 0;
    padding: 15px 18px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
}
.boton:focus {
    background-color: #14A9B8;
    outline: none;
}
.boton:hover {
    background-color: #14A9B8;
    cursor: pointer;
}
.fix {
    clear: both;
}
img.fondo {
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}
#login {
    margin: 18% auto 0;
    max-width: 400px;
    padding: 0 20px;
}
#login .campo {
    border-bottom: 1px solid #FFF;
    margin: 30px 0;
}
#login .campo i {
    color: #FFF;
    font-size: 1.3em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .7);
    width: 8%;
}
#login input[type=text],
#login input[type=password] {
    background-color: transparent;
    border: none;
    color: #FFF;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .7);
    width: 90%;
}
#login input[type=text]:focus,
#login input[type=password]:focus {
    outline: none;
}
.pagina {
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    width: 100%;
}
.subtitulo {
    font-size: 1.75em;
    font-weight: 300;
}
.titulo {
    font-size: 2.5em;
}
.titulo,
.subtitulo {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
}
@media only screen and (min-width: 590px) {
    .boton {
        font-size: 1.2em;
    }
    #login input[type=text],
    #login input[type=password] {
        font-size: 1.7em;
    }
}
@media only screen and (orientation: landscape) {
    #login {
        margin: 10% auto 0;
    }
}
@media only screen and (min-width: 1375px) {
    .boton {
        font-size: 1.3em;
    }
    #login .campo i {
        font-size: 2em;
    }
    #login input[type=text],
    #login input[type=password] {
        font-size: 2em;
    }
    .pagina {
        padding-top: 100px;
    }
    .subtitulo {
        font-size: 3em;
    }
    .titulo {
        font-size: 4em;
    }
    .titulo,
    .subtitulo {
        text-shadow: 3px 3px 2px rgba(0, 0, 0, .7);
    }
}
